/jsp/testNetBeans/nbproject/
/jsp/testNetBeans/build/
/jsp/RollNameJdbc2/nbproject/
/jsp/RollNameJdbcNetBeans/nbproject/
/jsp/RollNameJdbcNetBeans/build/
/jsp/RollNameJdbcNetBeans/dist/
/jsp/testJavaBean/nbproject/
/jsp/testJavaBean/build/
/jsp/ShowRecordByPage/nbproject/
/jsp/ShowRecordByPage/build/
/jsp/ShowRecordByPage/dist/
/jsp/GUIFormExamples/nbproject/
/jsp/GUIFormExamples/build/
/jsp/BackboneHelloWorld/nbproject/
/jsp/Register/nbproject/
/jsp/Register/build/
/jsp/Register/dist/
/jsp/Upload/nbproject/
/jsp/Upload/build/
/CourseRegistrationSystem/nbproject/*
/CourseRegistrationSystem/build/*
/Class/nbproject/*
/Class/build/*
/testSSH/nbproject/private/
/testSSH/build/
/testStruts/nbproject/private/
/testStruts/build/
/testStruts2/nbproject/private/
/testStruts2/build/
*.class