/jsp/testNetBeans/nbproject/private/
/jsp/testNetBeans/build/
/jsp/RollNameJdbc2/nbproject/private/
/jsp/RollNameJdbcNetBeans/nbproject/private/
/jsp/RollNameJdbcNetBeans/build/
/jsp/RollNameJdbcNetBeans/dist/
/jsp/testJavaBean/nbproject/private/
/jsp/testJavaBean/build/
/jsp/ShowRecordByPage/nbproject/private/
/jsp/ShowRecordByPage/build/
/jsp/ShowRecordByPage/dist/