<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>login_confirm</servlet-name>
        <servlet-class>javaServlet.login_confirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentLoginSvlt</servlet-name>
        <servlet-class>javaServlet.StudentLoginSvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkSvlt</servlet-name>
        <servlet-class>javaServlet.MarkSvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentSvlt</servlet-name>
        <servlet-class>javaServlet.StudentSvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherSvlt</servlet-name>
        <servlet-class>javaServlet.TeacherSvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseSvlt</servlet-name>
        <servlet-class>javaServlet.CourseSvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassSvlt</servlet-name>
        <servlet-class>javaServlet.ClassSvlt</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login_confirm</servlet-name>
        <url-pattern>/login_confirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentLoginSvlt</servlet-name>
        <url-pattern>/StudentLoginSvlt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkSvlt</servlet-name>
        <url-pattern>/MarkSvlt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentSvlt</servlet-name>
        <url-pattern>/StudentSvlt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherSvlt</servlet-name>
        <url-pattern>/TeacherSvlt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseSvlt</servlet-name>
        <url-pattern>/CourseSvlt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassSvlt</servlet-name>
        <url-pattern>/ClassSvlt</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
